* {
    margin: 0;
    padding: 0;
}

body {
    background: #f8edeb;
    font-family: 'Cormorant Garamond', serif;
}

header {
    width: 90%;
    margin-left: 60px;
}

.tituloh {
    position: fixed;
    top: 40px;
    left: 500px;
}

h1 {
    text-align: center;
    color: #76c893;
    font-size: 50px;
}

header img {
    width: 100%;
}

main {
    margin-left: 60px;
    width: 90%;
}

li {
    margin: 1%;
    padding: 2%;
    list-style: none;
    /* color: #003049; */
}

ul {
    width: 40%;
    height: 300px;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSeBgeLHXykoo7J0Eo-lSfxywAeZumaYdc2Dg&usqp=CAU);
}

a {
    padding: 10px;
    text-decoration: none;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

footer img {
    width: 10%;
}