* {
    margin: 0;
    padding: 0;
}

body {
    background: #f8edeb;
    font-family: 'Cormorant Garamond', serif;
}

header {
    width: 90%;
    margin-left: 60px;
}

.tituloh {
    position: absolute;
    top: 60px;
    left: 500px;
}

main h1 {
    text-align: center;
    color: #76c893;
    font-size: 50px;
}

h1 {
    text-align: center;
    color: #76c893;
}

header img {
    width: 100%;
}

main {
    margin-left: 60px;
    width: 90%;
}

.menu {
    display: flex;
}

.menu ul {
    width: 100%;
    height: 100px;
    background-image: url(https://img.freepik.com/foto-gratis/rosa-rosa-sobre-fondo-blanco-madera-vintage_165109-255.jpg);
}

.menu ul li {
    display: inline-block;
    font-size: 20px;
    font-weight: bolder;
}

.perfilP {
    margin-top: 40px;
    margin-left: 100px;
    text-transform: uppercase;
    color: #15a2a2;
    text-shadow: 1px 1px #000;
    cursor: pointer;
}

.actividades {
    margin-left: 350px;
    text-transform: uppercase;
    color: #15a2a2;
    text-shadow: 1px 1px #000;
}

.pizarra {
    width: 100%;
    height: 750px;
    background-image: url(https://img.freepik.com/foto-gratis/rosa-rosa-sobre-fondo-blanco-madera-vintage_165109-255.jpg);
    opacity: .7;
    display: flex;
}

.datosP {
    width: 50%;
    margin: 1%;
}

.datosP h2,
p {
    text-align: center;
}

.datosP h2 {
    margin: 1%;
    padding: 2%;
}

.datosP p {
    font-weight: bold;
}

.perfil {
    display: block;
}

.perfil img {
    width: 40%;
    margin-left: 25px;
}

.tareas {
    width: 50%;
    margin-top: 15px;
    display: block;
}

.tareas ul {
    width: 100%;
    height: auto;
    margin-right: 120px;
}

.tareas li {
    margin: 1%;
    padding: 2%;
    list-style: none;
    /* color: #003049; */
    text-transform: uppercase;
    font-size: 10px;
}

.submenu {
    height: 60px;
    background-image: none;
}

.submenu li {
    margin-left: 50px;
    text-transform: capitalize;
}

a {
    padding: 10px;
    text-decoration: none;
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

.footer {
    margin-top: 1%;
    margin-left: 60px;
    width: 90%;
    height: 130px;
    background: #6d6875;
    display: flex;
}

.footer img {
    margin-top: 10px;
    margin-left: 40px;
    width: 50%;
    display: inline-block;
}

.sobreNosotros {
    margin-top: 10px;
    margin-left: 110px;
}

.sobreNosotros h1 {
    margin: 2%;
    font-size: 20px;
}

.sobreNosotros p {
    font-family: Arial, Helvetica, sans-serif;
}

.sobreNosotros cite {
    margin-left: 70px;
    font-style: italic;
    font-weight: bold;
    font-size: 20px;
}

.box {
    margin-top: 10px;
    margin-left: 180px;
}

.box h1 {
    margin: 2%;
    font-size: 20px;
}

.final {
    margin-left: 60px;
    width: 90%;
    height: 30px;
    background-image: url(https://img.freepik.com/foto-gratis/fondo-suelo-textura-madera-blanca_53876-63634.jpg?size=626&ext=jpg&uid=R69741999&ga=GA1.2.1765308560.1650971654);
}

.final small {
    margin-left: 300px;
    font-weight: bold;
    font-size: 15px;
}