/*Se puede tener tantos estilos como se necesiten
*se tomará el ultimo estilo establecido*/

body {
    background: skyblue;
    /*background: url('img/descarga.jpg');
    background-repeat: repeat;*/
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: brown;
    font-size: 50px;
}

p {
    color: blue;
}

h2,
h3,
h5 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: blueviolet;
}

section h2 {
    color: coral;
}

.parrf3 {
    color: darkgoldenrod;
    font-size: 30px;
}


/**NO ES RECOMENDABLE USAR ID, solo se 
* usa para programar*/

#h5 {
    color: darkkhaki;
    font-size: 30px;
}


/*Medidas absolutas: tamaño exacto que le pongamos
Medidas relativas: px, em en proporcion al
contenedor padre,rem, % para ancho*/


/*Para contenido responsivo mejor usar medidas relativas
*/

.fondo {
    /* background: #fde4cf;*/
    background: rgb(46%, 40%, 50%, 0.5);
    width: 4cm;
    height: 4cm;
}

.fondo h4 {
    font-size: 1.5em;
}